rtds_action
sphinx>=1.4
nbsphinx
sphinx-gallery
ipykernel
cython
jupyterthemes
numpy>=1.20
scipy
ipython
ipyvolume
matplotlib
h5py
pandas
astropy
cython
betagen
tqdm
numba
class-registry
better_apidoc

